.advantage-left h4 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.2px;
}

.advantage-left p{
font-size: 18px;
font-style: normal;
font-weight: 400;
}


.advantage-span h5{
font-size: 36px;
font-style: normal;
font-weight: 700;
letter-spacing: -0.9px;
}


.advantage-span p{
font-size: 16px;
font-style: normal;
font-weight: 400;
}


.advantage-span {
    display: flex;
    align-items: center;
    gap: 16px;
}

.advantage-top  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    padding: 80px 0;
}


.advantage-right{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30%;
    justify-content: space-between ;
    gap: 35px;

}

.advantage-ellips{
    width: 540px;
    height: 270px;
    border: 1px solid red;
}

.advantage-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.images :nth-child(2){

    display: none;

}
/* media for ipad  */

@media (min-width:469px) and (max-width:1280px){
    .advantage-top{
        flex-direction: column;
    }

    .advantage-right{
        padding: 10px 100px;
        gap: 60px;
    }
}






