#features{
    padding-top: 96px ;
    padding-bottom: 96px;
}

.layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100xp 100px;
    gap: 100px;
}



.item1 {
    grid-column: 1/4;
}


.item1-text h3 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}


.item1-text p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}

.item1-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    color: #111827;
    padding: 0 150px;

}

.card-text h4 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;

}

.card-text p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 0 50px;

}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}


/* media for ipad */


@media (min-width:469px) and (max-width:1280px) {

    .layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100px 100xp;

    }

    .item1 {
        grid-column: 1/3;
    }


    .card {
        padding-top: 64px;
    }

    .item1-text h3 {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
    }

    .item1-text p {
font-size: 18px;
font-style: normal;
font-weight: 400;
    }

    .item1-text {
        padding: 0 15px;
    }

}

/* media for mobile */

@media (max-width:468px) {

    .layout {
        display: grid;
        grid-template-columns: 1fr;

    }

    .item1 {
        grid-column: 1/2;
        padding: 0;
    }

    .item1-text h3 {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
    }


    .card {
        padding-top: 64px;
        padding: 0;
        width: 100%;
    }

    .item1-text {
        padding: 0 15px;

    }

}