.manage-text h2{
font-size: 48px;
font-style: normal;
font-weight: 700;
letter-spacing: -1.2px;
padding-bottom: 10px;
}

.manage-text p{
font-size: 18px;
font-style: normal;
font-weight: 400;
padding-bottom: 50px;
}


.manage-text h5{
font-size: 18px;
font-style: normal;
font-weight: 500;
padding-bottom: 10px;
}


.manage{
    display: flex;
    align-items: center;
    gap: 32px;
}


#manage{
    padding: 110px 15px ;

    background-color: #1DB5BE;
    margin-top: 80px;
}

.manage-img-1{
    transform: translate(0 ,-116px);
}


.manage-img-2{
    transform: translate(0 ,114px);
}


/* media for ipad */


@media (min-width:469px) and (max-width:1280px){
    .manage {
        flex-direction: column;
    }

    .manage-img-1{
        transform: translate(-180px ,0);
    }
    
    
    .manage-img-2{
        transform: translate(187px  ,114px   );
    }

    

}